.blue{
    color: blue;
}
.red{
    color: red;
}
.box1{
    width: 500px;
    height: 200px;
    border: 2px dashed #666;
}

.box2{
    width: 100%;
    padding: 10px;
    backgroud-color: #fff4c3;
    border: 3px solid #ff8410;
    box-sizing: border-box;         /* 追加 */
@media screen and (max-width: 768px) {
    .box {
        background-color: blue;
    }
}
@media screen and (max-width: 480px) {
    .box {
        background-color: green;
    }
}
@media  screen and (max-width: 480px) {
    img {
      width: 100%;
    }
}
@media screen and (max-width:480px) {
    img {
      display: none;
    }
}
media screen and (max-width: 480px) {
    img {
        display: block;
    }
}
}